[Unit]
Description=DigiHub Web Console (ttyd)
After=network.target

[Service]
Type=simple
User=__DIGIHUB_USER__
ExecStart=/usr/local/bin/dhconsoled
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
